@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    overflow: hidden;
}
.hideNavbar {
    margin-right: -500px;
    transition: all ease-in 0.5s;
}
.showNavbar{
    margin-right: 0px;
    transition: all ease-in 0.5s;
}
