@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hideNavbar {
    position: absolute;
    top: 11%;
    right: -100%;
    z-index: 1000;
    transition: all ease-in 0.5s;

}
.showNavbar{
    display: block;
    position: absolute;
    top: 11%;
    right: 0;
    transition: all ease-in .5s;
    /* animation: slideDown 0.5s linear; */
    overflow: hidden;
}
.anchor{
    @apply text-white block p-6 text-xl font-extralight hover:bg-zinc-900;
    transition: all ease-in 0.6s;
}
.anchor:hover{
    @apply bg-zinc-900;
}
.header-height{
    min-height: 100px;
}
.py-100{
    padding-bottom: 180px;
}
.gen-container{
    padding: 50px;
}
@keyframes slideDown {
   0%{
        opacity: 0;
   }
   100%{
        opacity: 1;
   } 
}